*{
  padding: 0;
  margin: 0;
}
.container{
  display:grid;
  grid-template-areas: 
  "header header"
  "content content"
  "footer footer";
  background-color: red;
  gap: 3px;
}

nav{
  background-color: black;
  color: white;
}
nav a{
  color: white;
  margin: 0px 5px 0px 5px;
}

a{
  text-decoration: none;
}
.section {

}