@keyframes navAnim {
  from { opacity: 0; }
  to { opacity: 1; position: sticky; overflow: hidden;
  top: 0; }
}

@keyframes backgroundAnim {
  from {
    background-color: white;
  }
  to {
    background-color: #000000;

  }

}

@keyframes textAnim {
  from { color: black; }
  to { color: white; }
}

@keyframes pfpAnim {
  from { width: 200px; opacity: 1; }
  to { width: 0px; opacity: 0; }
}

@keyframes sectionAnim {
  from { opacity: 0; }
  to { opacity: 1; }
}