*{
  padding: 0;
  margin: 0;
}


.burger_menu_btn {
  display: none;
  background-color: darkgray;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}
nav div.right, nav div.left {
  display: block;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  opacity: 0;
  color: white;
}
.main img{
  margin: 50px;
  border-radius: 100%;
  border: 2px solid black;
  width: 200px;
  cursor: pointer;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.dinos{
  font-size: 20px;
  font-weight: bold;
  color: white;
}
header{
  overflow: hidden;
}
nav{
  display: flex;
  flex-direction: row;
  padding: 25px;
  justify-content: space-between;
  background-color: #0A0A0A;
  opacity: 0;
  position: sticky;
  top: 0px;
}
.project_container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 5px;
}
.project_card {
  background-color: #0A0A0A;
  width: 200px;
  border-radius: 15px;
  padding: 25px;
  margin: 25px;
  cursor: pointer;
}


.content {
  margin: 0px 20% 0px 20%;
}
.content div p, footer div p {
  margin-top: 25px;
}
nav a{
  color: #6C6C6C;
  margin: 0px 5px 0px 5px;
}

@media screen and (max-width: 400px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav div.right, nav div.left {
    display: none;
    gap: 5px;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  button.burger_menu_btn {
    display: block;
  }

  .content  {
    margin: 0px 10% 0px 10%;
  }
  .project_container{
    display: grid;
    grid-template-columns: auto;
  }
}

a{
  text-decoration: none;
}
